@{
    string siteName = Environment.GetEnvironmentVariable("SITE_NAME_ILLUSTRATE")!;
    string siteURL = Environment.GetEnvironmentVariable("SITE_URL_ILLUSTRATE")!;

    ViewData["Title"] = "Our Facilities";
    ViewData["Canonical"] = siteURL + "/Info/Facilities";
    ViewData["OGDescription"] = "Discover our Facilities.";

    ViewData["Description"] = ViewData["Title"] + " " + siteName;
    ViewData["OGTitle"] = ViewData["Title"];
    ViewData["OGURL"] = ViewData["Canonical"];
}

<!-- View -->
<head>
    <title>@ViewData["Title"]</title>
</head>

<!-- Banner Logo -->


<div class="row pt-lg-0 pb-lg-4 gx-0 gy-2 gy-lg-3 container m-0 mx-auto pb-2 pt-0">

    <div class="col-11 col-md-8 pt-sm-0 pt-lg-1 mx-auto pb-3 text-start">

        <h2 class="text-black pb-md-2 text-center">Facilities</h2>

        <p class="text-black about-text-fs pb-4 text-left">
            Enjoy a worry-free lifestyle with our Homeowner Association fees, which encompass complete 
            lawn care, the use and maintenance of our clubhouse, swimming pool, and gazebo garden, and 
            the upkeep of our community roads and irrigation infrastructure.
        </p>

        <img alt="uchris" class="img-fluid w-100 rounded px-0" src="/Images/PageImages/uchris.jpg">
        <p class="text-black about-text-fs pb-2 text-center">
            Lawn Care
        </p>
    </div> 
    
    <div class="col-11 col-md-8 pt-sm-0 pt-lg-4 mx-auto pb-3 text-start">

       <img class="img-fluid w-100 rounded pb-1" alt="uclub" src="/Images/PageImages/uclub.jpg">
        <p class="text-black about-text-fs pb-4 text-center">
            The Clubhouse is home for our weekly Gathering. 
            <br />(9:30 am Wednesday)
       </p>

        <p class="text-black about-text-fs py-2 pb-2 text-left">
            The clubhouse, with its complete kitchen facilities, is available for residents
            to reserve at no charge for private parties or community gatherings.
            <br /><br />
            <b>We also have a monthly community luncheon, game nights, and Missionary time.</b>
        </p>    
    </div>

    <div class="col-11 col-md-8 pt-sm-0 pt-lg-4 mx-auto pb-3 text-start">

        <img class="img-fluid w-100 rounded pb-1" alt="upool" src="/Images/PageImages/upool.jpg">
        <p class="text-black about-text-fs pb-4 text-center">
            Our "senior-friendly" pool.
            <br />(heated in the winter)                   
        </p>

        <img class="img-fluid w-100 rounded pb-1" alt="ugazebo" src="/Images/PageImages/ugazebo.jpg">
        <p class="text-black about-text-fs pb-4 text-center">
            The Gazebo Garden is available for small group study or private reflection.
        </p> 
        
        <img class="img-fluid w-100 rounded pb-1" alt="uquad" src="/Images/PageImages/uquad.jpg">
        <p class="text-black about-text-fs pb-2 text-center">
            The residences are nicely landscaped, and similar in appearance for unique community identity.
            <br /><br />
            <b>We also are the only truly gated community in Avon Park.</b>                  
        </p>
        
    </div>
</div>

