@{
    string siteName = Environment.GetEnvironmentVariable("SITE_NAME_ILLUSTRATE")!;
    string siteURL = Environment.GetEnvironmentVariable("SITE_URL_ILLUSTRATE")!;

    ViewData["Title"] = "Welcome to " +  siteName + ".";
    ViewData["Canonical"] = siteURL + "/Info/index";
    ViewData["OGDescription"] = "Explore our community and learn more about us.";

    ViewData["Description"] = ViewData["Title"] + " " + siteName;
    ViewData["OGTitle"] = ViewData["Title"];
    ViewData["OGURL"] = ViewData["Canonical"];
}

<!-- View -->
<head>
    <title>@ViewData["Title"]</title>
</head>

<!-- Banner Logo -->
<partial name="_PartialBannerLogo" />    

<div class="row pb-lg-2 gx-0 gy-2 gy-lg-3 container m-0 mx-auto pb-0 text-center">

    <div class="col-11 col-md-8 pt-sm-0 pt-lg-4 mx-auto text-start" >
        <p class="text-black about-text-fs pb-2 text-left">
           Welcome to the online home of Oaks Village, a friendly, non-smoking 55+ community in Avon Park, Florida. 
           <br><br>
           With over 70 residences and available building lots, Oaks Village offers a welcoming environment. 
           Southern Homes, our builder, has an office conveniently located inside the gate at Palmetto and Emmanuel Way.           
        </p>
    </div>

    <div class="col-12 pt-sm-0 pt-lg-4 mx-auto px-2" >
        <img alt="" class="img-fluid w-100 rounded px-0" src="/Images/PageImages/uentry.jpg">
        <p class="text-black welcome-text-fs py-1 text-center">
            We invite you to visit!
        </p>
    </div>

</div>


