@model Members.Models.ImageViewModel

@{
    ViewData["Title"] = Model.FileName;
}

<h1 class="text-black mb-2 mt-4 text-center">@System.IO.Path.GetFileNameWithoutExtension(Model.FileName)</h1>

<div class="mb-3 text-center">
    <a href="javascript:history.back()" class="btn btn-sm btn-back rounded-2 me-2 shadow" title="Back to Previous Page">
        <i class="bi bi-box-arrow-left me-2"></i> Back
    </a>
</div>

<div class="d-flex justify-content-center container mb-2">
    <img src="@Model.FullImageUrl" class="img-fluid rounded" alt="@Model.FileName" style="width: 100%; height: auto;">
</div>