

/* #region Font Sizes (-fs) */

.about-text-fs {
    font-size: 14px;
}

.welcome-text-fs {
    font-size: 20px;
}

.delete-button i {
    font-size: 0.9em;
}

.btn-rename i {
    font-size: 0.9em;
}

/* #endregion */

/* #region (BS -sm- ) (min-width: 575px) and (max-width: 768px) Smaller tablets */
@media (min-width: 575px) {

    .about-text-fs {
        font-size: 16px;
    }

    .welcome-text-fs {
        font-size: 24px;
    }
       
}
/* #endregion  */

/* #region (BS -md- ) (min-width: 768.01px) and (max-width: 991px) Large tablet styles */
@media (min-width: 768.01px) {

    .about-text-fs {
        font-size: 18px;
    }

    .welcome-text-fs {
        font-size: 28px;
    }
   
}
/* #endregion */

/* #region (BS -lx- ) (min-width: 1200px) Medium Desktop*/
@media (min-width: 1200px) {

    .about-text-fs {
        font-size: 20px;
    }

    .welcome-text-fs {
        font-size: 30px;
    }

}
/* #endregion */

/* #region (BS - xlg- ) (min-width: 1399.98px) Large Desktop */
@media (min-width: 1399.98px) {

    .about-text-fs {
        font-size: 22px;
    }

    .welcome-text-fs {
        font-size: 42px;
    }
}
/* #endregion */
