@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<head>
    <title>@ViewData["Title"]</title>
</head>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card m-2 rounded text-center p-4 shadow">
                
                <h1 class="mb-4">
                    <i class="bi bi-envelope-check-fill"></i> @ViewData["Title"]
                </h1>
                <partial name="_StatusMessage" model="Model.StatusMessage" />
                <a href="~/" class="btn btn-sm btn-success rounded-2 mt-3 shadow"><i class="bi bi-house-fill"></i> Home</a>
                
            </div>
        </div>
    </div>
</div>