@page
@model Members.Areas.Identity.Pages.DeleteUserModel
@{
    ViewData["Title"] = "Delete Member";
}

<head>
    <title>@ViewData["Title"]</title>
</head>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card m-2 rounded p-4 shadow">
                <h1 class="text-black mb-4 text-center">
                    <i class="bi bi-person-x-fill"></i> @ViewData["Title"]
                </h1>

                <p class="text-black pb-1 text-center">Are you sure you want to delete the user:</p>
                <p class="text-center"><strong>"@Model.UserName"</strong></p>

                <!-- Buttons-->
                <form method="post" class="d-flex justify-content-center my-3 gap-2">
                    <input type="hidden" asp-for="Id" />

                    <!-- Cancel -->
                    <a asp-page="./Users" class="btn btn-sm btn-danger rounded-2 shadow" asp-route-searchTerm="@ViewContext.HttpContext.Request.Query["searchTerm"]" title="Cancel Changes">
                        <i class="bi bi-box-arrow-left"></i> Cancel
                    </a>

                    <!-- Delete -->                    
                    <button type="submit" class="btn btn-sm btn-danger rounded-2 shadow">
                        <i class="bi bi-trash"></i> Delete
                    </button>                   

                </form>
            </div>
        </div>
    </div>
</div>