@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<!-- Password Edit -->
<div class="row gx-0 gy-0">    

    <div class="col-lg-8">

        <h1 class="text-black pb-2 text-center">Manage your account</h1>

        <div class="card mx-0 mb-2 rounded p-2 shadow">
            <h2 class="text-black mb-4 text-center">
                <i class="bi bi-lock-fill"></i><i class="bi bi-arrow-clockwise"></i> @ViewData["Title"]
            </h2>
            <form id="change-password-form" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.OldPassword" class="form-control shadow" autocomplete="current-password" aria-required="true" placeholder="" />
                    <label asp-for="Input.OldPassword" class="form-label"></label>
                    <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.NewPassword" class="form-control shadow" autocomplete="new-password" aria-required="true" placeholder="" />
                    <label asp-for="Input.NewPassword" class="form-label"></label>
                    <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control shadow" autocomplete="new-password" aria-required="true" placeholder="" />
                    <label asp-for="Input.ConfirmPassword" class="form-label"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>

                <!-- Cancel -->
                <a href="~/" class="btn btn-sm btn-secondary rounded-2 me-2 shadow">
                    <i class="bi bi-box-arrow-leftshadow rounded-2"></i> Cancel
                </a>

                <!-- Update Password -->
                <button type="submit" class="btn btn-sm btn-success rounded-2 me-2 shadow">
                    <i class="bi bi-lock-fill"></i><i class="bi bi-save"></i> Update password
                </button>
                
            </form>
        </div>
    <partial name="_StatusMessage" for="StatusMessage" />
    </div>    
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}