@using Microsoft.AspNetCore.Identity
@using System.IO;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.ViewComponents;
@using Microsoft.EntityFrameworkCore;
@using System.Linq;
@using System.Threading.Tasks;
@using System.Collections.Generic
@using Members.Data;
@using Members.Models;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject Members.Data.ApplicationDbContext DbContext

@{  
    // Only fetch UserProfile if user is signed in  
    Members.Models.UserProfile? userProfile = null; // Change to nullable type  
    if (SignInManager.IsSignedIn(User))  
    {  
        var userId = UserManager.GetUserId(User);  
        if (!string.IsNullOrEmpty(userId))  
        {  
            userProfile = DbContext.UserProfile.FirstOrDefault(up => up.UserId == userId);  
        }  
    }  
}  

<header>
    
    <!-- Navbar -->  
    <nav class="navbar navbar-expand-lg navbar-header-bg position-relative px-0">
        <div class="d-flex flex-grow-1 ps-2">  
            
            <!-- Set to show on lg -->  
            <a style="text-decoration: none" href="/"><img src="~/Images/Svg/Logos/SmallLogo.svg" class="navbar-overhang logo" alt="logo" /></a>  
            <a style="text-decoration: none" class="d-none d-lg-inline-block siteNameBig" href="/"><img src="~/Images/Svg/Logos/NameLogo.svg" class="nbLogo ps-2" alt="Oaks Village Logo" /></a>  
            
            <!-- Set to show on sm -->  
            <a style="text-decoration: none" class="nav-text text-decoration-none navbar-brand navbar-text d-lg-none d-inline-block w-100 siteNameSmall me-0 ps-5 text-center" href="/"><img alt="" class="navbar-overhang logo px-2 pb-2" /><img src="~/Images/Svg/Logos/NameLogo.svg" class="nbLogo ms-4" alt="Oaks Village logo" /></a>  
            
            <!-- Navbar Toggle Button -->  
            <div class="pe-2 pt-1 text-left">  
                <button class="navbar-toggler pe-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">  
                    <span class="navbar-toggler-icon"></span>  
                </button>  
            </div>  
        </div>
        
        <!-- Navbar Links -->  
        <div class="navbar-collapse flex-grow-1 collapse px-2 pt-1 text-left" id="navbarToggler">  
            <ul class="navbar-nav ms-auto flex-nowrap">
                
                <!-- Welcome Dropdown -->  
                <li class="nav-item dropdown mt-4 mt-lg-0 me-1">
                    
                    <!-- Welcome Dropdown Toggle -->  
                    <a class="rounded-2 nav-link dropdown-toggle text-dark ps-2" style="width: 120px;" href="#" id="welcomeDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                        <i class="bi bi-house-fill"></i> Welcome  
                    </a>
                    
                    <!-- Welcome Dropdown Menu -->
                    <ul class="dropdown-menu navbar-header-dropdown-bg navbar-header-dropdown-border navbar-header-dropdown-border ps-2" style="margin-top: 0; width: 160px;" aria-labelledby="welcomeDropdown" aria-expanded="false" data-bs-auto-close="outside">
                        <li><a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width:120px;" asp-area="" asp-controller="Info" asp-action="Index"><i class="bi bi-house-fill"></i> Welcome</a></li>
                        <li><a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width:120px;" asp-area="" asp-controller="Info" asp-action="About"><i class="bi bi-info-circle-fill"></i> About</a></li>
                        <li><a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width:120px;" asp-area="" asp-controller="Info" asp-action="Facilities"><i class="bi bi-building-fill"></i> Facilities</a></li>
                        <li><a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width:120px;" asp-area="" asp-controller="Image" asp-action="GalleryList"><i class="bi bi-image"></i> Galleries</a></li>
                    </ul>  
                </li>
                
                @if (SignInManager.IsSignedIn(User) && (User.IsInRole("Admin") || User.IsInRole("Manager")))
                {

                    <!-- Accounts Receivable Dropdown -->
                    <li class="nav-item dropdown pt-0 me-1">

                        <!-- Accounts Receivable Toggle -->
                        <a class="nav-link rounded-2 dropdown-toggle text-dark ps-2" style="width: 165px;" href="#" id="accountsReceivableDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                            <i class="bi bi-currency-dollar"></i> Accounting A/R
                        </a>

                        <!-- Accounts Receivable -->
                        <ul class="dropdown-menu navbar-header-dropdown-bg navbar-header-dropdown-border ps-2" style="margin-top: 0; width: 235px;" aria-labelledby="accountsReceivableDropdown" data-bs-auto-close="outside">

                            <li><a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width:150px;" asp-area="Admin" asp-page="/AccountsReceivable/BillableAssets" title="Manage Billable Assets"><i class="bi bi-house"></i> Billable Assets</a></li>
                            <li><a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width:165px;" asp-area="Admin" asp-page="/AccountsReceivable/CurrentBalances" title="Current Balances"><i class="bi bi-calculator"></i> Current Balances</a></li>

                            <!-- Invoice Draft Batches Dropdown -->
                            <li class="nav-item dropdown">

                                <!-- Invoice Draft Batches Toggle -->
                                <a class="ms-2 nav-link rounded-2 dropdown-toggle text-dark ps-2 mb-2" style="width: 210px;" href="#" id="invoiceDraftBatchesDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                    <i class="bi bi-files"></i> Invoice Draft Batches
                                </a>

                                <!-- Invoice Draft Batches -->
                                <ul class="dropdown-menu navbar-header-dropdown-bg navbar-header-dropdown-border ms-2 ps-2" aria-labelledby="invoiceDraftBatchesDropdown" style="margin-top: 0; width: 225px;" aria-expanded="false" data-bs-auto-close="outside">
                                    <li>
                                        <a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width: 190px;"
                                           href="/Admin/AccountsReceivable/CreateBatchInvoices"
                                           title="Create Draft Batches">
                                           <i class="bi bi-plus-square"></i> Create Draft Batches
                                        </a>
                                    </li>
                                    <li><a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width: 195px;" asp-area="Admin" asp-page="/AccountsReceivable/ReviewBatchInvoices" title="Review Batch Invoices"><i class="bi bi-list-check"></i> Review Draft Batches</a></li>
                                </ul>

                            </li>

                            <!-- Reporting Dropdown -->
                            <li class="nav-item dropdown">

                                <!-- Reporting Toggle -->
                                <a class="ms-2 nav-link rounded-2 dropdown-toggle text-dark ps-2" style="width:130px;" href="#" id="reportingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                    <i class="bi bi-bar-chart-line-fill"></i> Reporting
                                </a>

                                <!-- Reporting -->
                                <ul class="dropdown-menu navbar-header-dropdown-bg navbar-header-dropdown-border ms-2 ps-2" style="margin-top: 0; width: 280px;" aria-labelledby="reportingDropdown" aria-expanded="false" data-bs-auto-close="outside">
                                    <li><a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width: 180px;" asp-area="Admin" asp-page="/Reporting/ArAgingReport" title="A/R Aging Report"><i class="bi bi-calendar-range"></i> A/R Aging Report</a></li>
                                    <li><a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width: 160px;" asp-area="Admin" asp-page="/Reporting/InvoiceRegisterReport" title="Invoice Register Report"><i class="bi bi-list-ul"></i> Invoice Register</a></li>
                                    <li><a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width: 170px;" asp-area="Admin" asp-page="/Reporting/PaymentRegisterReport" title="Payment Register Report"><i class="bi bi-cash-coin"></i> Payment Register</a></li>
                                    <li><a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width: 155px;" asp-area="Admin" asp-page="/Reporting/CreditRegisterReport" title="Credit Register Report"><i class="bi bi-gift-fill"></i> Credit Register</a></li>
                                    <li><a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width: 165px;" asp-area="Admin" asp-page="/Reporting/LateFeeRegisterReport" title="Late Fee Register Report"><i class="bi bi-alarm-fill"></i> Late Fee Register</a></li>
                                    <li><a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width: 180px;" asp-area="Admin" asp-page="/Reporting/RevenueSummaryReport" title="Revenue Summary Report"><i class="bi bi-file-earmark-bar-graph-fill"></i> Revenue Summary</a></li>
                                    <li><a class="nav-link text-dark rounded-2 ms-2 mb-1 ps-2" style="width: 250px;" asp-area="Admin" asp-page="/Reporting/UserAccountStatementReport" title="Member Account Statement"><i class="bi bi-person-lines-fill"></i> Member Account Statement</a></li>
                                </ul>

                            </li>
                        </ul>
                    </li>

                    <!-- Management Dropdown -->
                    <li class="nav-item dropdown pt-0 me-1">

                        <!-- Management Toggle -->
                        <a class="nav-link rounded-2 dropdown-toggle text-dark ps-2 mb-1" style="width: 150px;" href="#" id="managementDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                            <i class="bi bi-journal-album"></i> Management
                        </a>

                        <!-- Management -->
                        <ul class="dropdown-menu navbar-header-dropdown-bg navbar-header-dropdown-border ps-2" style="margin-top: 0; width: 260px;" aria-labelledby="managementDropdown" aria-expanded="false" data-bs-auto-close="outside">

                            <!-- Manage Members Dropdown -->
                            <li class="nav-item dropdown">

                                <!-- Manange Members Toggle -->
                                <a class="nav-link rounded-2 dropdown-toggle text-dark ps-2 mb-1" style="width: 190px;" href="#" id="manageMembersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                    <i class="bi bi-person-gear"></i> Manage Members
                                </a>

                                <!-- Manage Members -->
                                <ul class="dropdown-menu navbar-header-dropdown-bg navbar-header-dropdown-border ps-lg-2 ms-2 ps-2" style="margin-top: 0; width: 260px;" aria-labelledby="manageMembersDropdown" aria-expanded="false" data-bs-auto-close="outside">
                                    <li><a class="ms-2 nav-link rounded-2 text-dark ps-2 mb-1" style="width:190px;" asp-area="Identity" asp-page="/Users" title="Manage Members"><i class="bi bi-person-gear"></i> Manage Members</a></li>
                                    <li><a class="ms-2 nav-link rounded-2 text-dark ps-2 mb-1" style="width:190px;" asp-area="Identity" asp-page="/Account/ResendEmailConfirmation"><i class="bi bi-envelope-check"></i> Re-Confirm Email</a></li>
                                    <li><a class="ms-2 nav-link rounded-2 text-dark ps-2 mb-1" style="width:190px;" asp-area="Identity" asp-page="/AddUser" title="Add Member"><i class="bi bi-plus-square"></i> Add a New Member</a></li>
                                </ul>

                            </li>
                               
                            <!-- Manage Galleries -->
                            <li>
                                <a class="nav-link rounded-2 text-dark ps-2 mb-1" style="width:175px;" asp-area="" asp-controller="Image" asp-action="ManageGalleries">
                                    <i class="bi bi-image"></i> Manage Galleries
                                </a>
                            </li>

                            <!-- Tasks -->
                            <li>
                                <a class="nav-link rounded-2 text-dark ps-2 mb-1" style="width:175px;" asp-area="Admin" asp-page="/TaskManagement">
                                    <i class="bi bi-list-task"></i> Tasks
                                </a>
                            </li>

                            <!-- Color Management -->
                            <li>
                                <a class="nav-link rounded-2 text-dark ps-2 mb-1" style="width:175px;" asp-area="Admin" asp-page="/ColorManagement">
                                    <i class="bi bi-palette-fill"></i> Color Scheme
                                </a>
                            </li>

                            <!-- Manage PDF Documents Dropdown -->
                            <li class="nav-item dropdown">

                                <!-- Manage Pdf Documents Toggle -->
                                <a class="dropdown-toggle nav-link text-dark rounded-2 ps-2 mb-1" style="width:240px;" href="#" id="managePdfDocumentsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                    <i class="bi bi-folder-fill"></i> Manage PDF Documents
                                </a>

                                <!-- Manage Pdf Documents Dropdown Menu -->
                                <ul class="dropdown-menu navbar-header-dropdown-bg navbar-header-dropdown-border ms-2 ps-2" style="margin-top: 0; width: 290px;" aria-labelledby="managePdfDocumentsDropdown" aria-expanded="false" data-bs-auto-close="outside">
                                    
                                    <!-- Members PDF Documents Dropdown -->
                                    <li class="nav-item dropdown">

                                        <!-- Members Pdf Documents Toggle -->
                                        <a class="dropdown-toggle text-dark nav-link rounded-2 mb-1 ps-2" style="width:260px;" href="#" id="membersPdfDocumentsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                            <i class="bi bi-folder-fill"></i> Members PDF Documents
                                        </a>

                                        <!-- Members Pdf Documents -->
                                        <ul class="dropdown-menu navbar-header-dropdown-bg navbar-header-dropdown-border ms-2 ps-2" style="margin-top: 0; width: 290px;" aria-labelledby="membersPdfDocumentsDropdown" aria-expanded="false" data-bs-auto-close="outside">
                                            <li><a class="ms-2 nav-link rounded-2 text-dark ps-2 mb-1" style="width:255px;" asp-area="" asp-controller="PdfCategory" asp-action="MembersCategories" title="Manage Member PDF Categories"><i class="bi bi-file-earmark-pdf-fill me-0"></i> Manage Member Categories</a></li>
                                            <li><a class="ms-2 nav-link rounded-2 text-dark ps-2 mb-1" style="width:260px;" asp-area="" asp-controller="PdfCategory" asp-action="ManageCategoryFiles" title="Manage Member PDF Documents"><i class="bi bi-file-earmark-richtext-fill me-0"></i> Manage Member Documents</a></li>
                                            <li><a class="ms-2 nav-link rounded-2 text-dark ps-2 mb-1" style="width:180px;" asp-area="" asp-controller="PdfGeneration" asp-action="CreatePdf" title="New Directory PDF"><i class="bi bi-file-earmark-plus me-0"></i> New Directory PDF</a></li>
                                        </ul>

                                    </li>

                                    <!-- Confidential PDF Documents Dropdown -->
                                    <li class="nav-item dropdown">

                                        <!-- Confidential PDF Documents Toggle -->
                                        <a class="dropdown-toggle text-dark nav-link rounded-2 ps-2 mb-1" style="width:270px;" href="#" id="confidentialPdfDocumentsDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                                            <i class="bi bi-folder-fill"></i> Confidential PDF Documents
                                        </a>

                                        <!-- Confidential Pdf Documents Toggle -->
                                        <ul class="dropdown-menu navbar-header-dropdown-bg navbar-header-dropdown-border ms-2 ps-2" style="margin-top: 0; width: 300px;" aria-labelledby="confidentialPdfDocumentsDropdown" aria-expanded="false" data-bs-auto-close="outside">
                                            <li><a class="ms-2 nav-link rounded-2 text-dark ps-2 mb-1" style="width:260px;" asp-area="" asp-controller="Manager" asp-action="ManagerListCategories" title="Confidential PDF Documents"><i class="bi bi-file-earmark-plus"></i> Confidential PDF Documents</a></li>
                                            <li><a class="ms-2 nav-link rounded-2 text-dark ps-2 mb-1" style="width:280px;" asp-controller="ManagerPdfCategory" asp-action="ManagerCategories" title="Manage Confidential PDF Categories"><i class="bi bi-file-earmark-pdf-fill"></i> Manage Confidential Categories</a></li>
                                            <li><a class="ms-2 nav-link rounded-2 text-dark ps-2 mb-1" style="width:285px;" asp-controller="ManagerPdfCategory" asp-action="ManagerManageCategoryFiles" title="Manage Confidential PDF Documents"><i class="bi bi-file-earmark-richtext-fill"></i> Manage Confidential Documents</a></li>
                                            <li><a class="ms-2 nav-link rounded-2 text-dark ps-2 mb-1" style="width:200px;" asp-area="Identity" asp-page="/AdminFiles" title="Delete Protected Files"><i class="bi bi-lock-fill me-0"></i> Delete Protected Files</a></li>
                                        </ul>

                                    </li>                                    

                                </ul>

                            </li>

                        </ul>
                    </li>
                    
                }
                 
                @if (SignInManager.IsSignedIn(User))  
                {  
                    <!-- Members Dropdown -->
                    <li class="nav-item dropdown pt-0 me-1">

                        <!-- Members Toggle -->
                        <a class="dropdown-toggle text-dark nav-link rounded-2 mb-1 ps-2" style="width: 120px;" href="#" id="membersDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                            <i class="bi bi-people-fill"></i> Members
                        </a>

                        <!-- Members -->
                        <ul class="dropdown-menu navbar-header-dropdown-bg navbar-header-dropdown-border ps-2" style="margin-top: 0; width: 200px;" aria-labelledby="membersDropdown" aria-expanded="false" data-bs-auto-close="outside">
                        
                            <!-- News and Notifacation Blog -->  
                            <li>
                                <a class="nav-link text-dark rounded-2 mb-1 ps-2" style="width: 180px;" asp-area="" asp-controller="Home" asp-action="Notices" target="_blank"><i class="bi bi-newspaper me-2"></i> News and Notices</a>
                            </li>

                            <!--  "PDF Documents" -->
                            <li class="nav-item text-light">
                                <a class="rounded-2 nav-link footer-fs text-nowrap ps-2" style="width:180px;" asp-area="" asp-controller="Members" asp-action="ListCategories">
                                    <i class="bi bi-file-earmark-pdf-fill me-2"></i> PDF Documents
                                </a>
                            </li>                           

                            <!-- Profile -->
                            @if (SignInManager.IsSignedIn(User))
                            {
                                <!-- Profile -->
                                <li class="nav-item">
                                    <a class="nav-link text-dark rounded-2 mb-1 ps-2" style="width: 100px;" asp-area="Identity" asp-page="/Account/Manage/Index" title="Profile">
                                        <i class="bi bi-gear-fill me-2"></i> Profile
                                    </a>
                                </li>
                            }

                        </ul>  
                    </li>  
                }
                <!-- Contact Link -->
                <li class="nav-item">  
                    <a class="nav-link text-dark rounded-2 mb-1 me-1 ps-2" style="width: 100px;" asp-area="" asp-controller="Info" asp-action="Contact">
                        <i class="bi bi-envelope-fill"></i> Contact  
                    </a>  
                </li>

                <!-- Register or Logout -->
                @if (SignInManager.IsSignedIn(User))
                {
                    <!-- Logout -->
                    <li class="nav-item">
                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Info", new { area = "" })">
                            <button type="submit" class="nav-link text-dark text-start rounded-2 btn ps-2 pb-0" style="margin-top: 2px; width: 90px;">
                                <i class="bi bi-unlock-fill"></i> Logout
                            </button>
                        </form>
                    </li>
                }
                else
                {
                    <!-- Register -->
                    <li class="nav-item">
                        <a class="nav-link text-dark rounded-2 mb-1 ps-2 pb-0" style="width: 100px;" asp-area="Identity" asp-page="/Account/Register">
                            <i class="bi bi-person-plus-fill"></i> Register
                        </a>
                    </li>

                    <!-- Login -->
                    <li class="nav-item">
                        @* <a class="nav-link text-dark rounded-2 mb-1" style="width: 90px;" asp-area="Identity" asp-page="/Account/Login">
                            <i class="bi bi-person-plus-fill"></i> Login
                        </a> *@

                        <form class="form-inline" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Index", "Info", new { area = "" })">
                            <button type="submit" class="nav-link text-dark text-start rounded-2 btn ps-2 pb-0" style="margin-top: 2px; width: 90px;">
                                <i class="bi bi-lock-fill"></i> Login
                            </button>
                        </form>
                    </li>
                }


            </ul>  
        </div>  
    </nav>  
</header>

<!-- Task Status Banner -->
<partial name="_TaskStatusBanner" />

 