@using Microsoft.AspNetCore.Identity
@using System.IO;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.ViewComponents;
@using Microsoft.EntityFrameworkCore;
@using System.Linq;
@using System.Threading.Tasks;
@using System.Collections.Generic
@using Members.Data;
@using Members.Models;
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
@inject Members.Data.ApplicationDbContext DbContext

<div id="footer" class="navbar navbar-dark border-top navbar-footer-bg" role="contentinfo" aria-label="Site footer">

    <div class="container text-left">
        <div class="row w-100 gx-0 gx-lg-5">

            <div class="col-4 pb-md-2">
                <ul class="navbar-nav flex-nowrap ps-2 pt-2" style="max-width:160px;">
                    <li class="nav-item text-light"><a class="rounded-2 nav-link footer-fs text-nowrap px-2" style="max-width:85px;" href="~/Info/"><i class="bi bi-house-fill"></i> Welcome</a></li>
                    @* <li class="nav-item text-light"><a class="rounded-2 nav-link footer-fs text-nowrap px-2" style="max-width:85px;" href="~/Info/About"><i class="bi bi-info-circle-fill"></i> About Us</a></li>
                    <li class="nav-item text-light"><a class="rounded-2 nav-link footer-fs text-nowrap px-2" style="max-width:85px;" href="~/Info/Facilities"><i class="bi bi-building-fill"></i> Facilities</a></li> *@
                    <li class="nav-item text-light"><a class="rounded-2 nav-link footer-fs text-nowrap px-2" style="max-width:85px;" href="~/Image/GalleryList"><i class="bi bi-image"></i> Galleries</a></li>
                </ul>
            </div>

            <div class="col-4 pe-0">
                <ul class="navbar-nav flex-nowrap ps-2 pt-2" style="max-width:160px;">

                    <!-- Contact in the footer -->
                    <li class="nav-item text-light">
                        <a class="rounded-2 nav-link footer-fs text-nowrap px-2" style="max-width:90px;" href="~/Info/Contact"><i class="bi bi-envelope"></i> Contact</a>
                    </li>

                    <!-- More Links in the footer -->
                   @*  <li class="nav-item text-light">
                        <a class="rounded-2 nav-link footer-fs text-nowrap px-2" style="max-width:100px;" href="~/Info/MoreLinks"><i class="bi bi-link"></i> More Links</a>
                    </li> *@

                     <!-- Members Dropdown -->
                    @if (SignInManager.IsSignedIn(User))
                    { 
                        <!-- Members Dropdown in the footer -->
                        <li class="nav-item dropdown pt-lg-0 pt-0">

                            <!-- Members Dropdown Toggle in the footer -->
                            <a class="rounded-2 nav-link dropdown-toggle footer-fs px-2" style="width:135px;" href="#" id="membersFooterDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <i class="bi bi-people-fill"></i> Members
                            </a>

                            <!-- Members Dropdown Menu in the footer -->
                            <ul class="dropdown-menu ps-lg-2 border-0 bg-transparent ps-4" aria-labelledby="membersFooterDropdown" style="margin-top: 0; width:180px;">

                                <!-- News and Notices -->
                                @* <li class="nav-item text-light">
                                    <a class="rounded-2 nav-link footer-fs text-nowrap ps-2" style="width:175px;" asp-area="" asp-controller="Home" asp-action="Notices" target="_blank">
                                        <i class="bi bi-newspaper"></i> News and Notices
                                    </a>
                                </li> *@

                                <!--  "PDF Documents" -->
                                <li class="nav-item text-light">
                                    <a class="rounded-2 nav-link footer-fs text-nowrap ps-2" style="width:180px;" asp-area="" asp-controller="Members" asp-action="ListCategories">
                                        <i class="bi bi-file-earmark-pdf-fill me-0"></i> PDF Documents
                                    </a>
                                </li>

                            </ul>

                        </li>
                    }

                </ul>
            </div>

            <!-- TOS and Privacy Links in the footer -->
            <div class="col-4 pe-0">
                <ul class="navbar-nav ms-auto flex-nowrap px-2 pt-2" style="max-width:160px">

                    <!-- TOS -->
                    <li class="nav-item text-light">
                        <a class="rounded-2 nav-link footer-fs text-nowrap px-2" style="max-width:60px" href="~/Info/TOS"><i class="bi bi-file-earmark-text"></i> TOS</a>
                    </li>

                    <!-- Privacy -->
                    <li class="nav-item text-light">
                        <a class="rounded-2 nav-link footer-fs text-nowrap px-2" style="max-width:80px" href="~/Info/Privacy"><i class="bi bi-shield-shaded"></i> Privacy</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <!-- Footer logo and text -->
    <div class="w-100 copyright-bg pt-3 text-white">
        <p class="text-center text-white" style="font-size: 10px;"><img class="footer-logo" src="~/Images/Svg/Logos/SmallLogo.svg" /> @Environment.GetEnvironmentVariable("SITE_NAME_ILLUSTRATE") Copyright © @DateTime.Now.Year</p>
    </div>

</div>


